# Lab | Pandas

Objective: practice how to use the pandas library in Python for data analysis and manipulation.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [178]:
import pandas as pd

In [179]:
raw_data = pd.read_csv('file1.txt')
raw_data.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [180]:
raw_data.tail()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [181]:
#Identify the dimensions of the dataset by determining the number of rows and columns it contains.
raw_data.shape

(4008, 11)

## Empty raws

In [182]:
# Dropping empty raws
raw_data = raw_data.dropna(how='all')
raw_data.shape

(1071, 11)

In [183]:
raw_data.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [184]:
raw_data.tail()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1066,TM65736,Oregon,M,Master,305955.03%,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,2031499.76%,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

## Column names

In [185]:
# Clean column names
raw_data.columns = raw_data.columns.str.strip().str.replace(' ', '_').str.lower().str.replace('[^\w]', '', regex=True)
raw_data.rename(columns={'st': 'state'}, inplace=True)

In [186]:
raw_data.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Data types

In [187]:
# Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. 
# You should also provide suggestions for fixing any incorrect data types.

raw_data.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

### Customer lifetime value

In [188]:
#raw_data['customer_lifetime_value'][1]

In [189]:
# Customer Lifetime Value 

# Convert "Customer Lifetime Value" to numeric values
raw_data['customer_lifetime_value'] = raw_data['customer_lifetime_value'].str.rstrip('%').astype(float) / 100

# Alternative
# Step 1: Remove percentage sign (%) and "NaN" from the column
# raw_data['customer_lifetime_value'] = raw_data['customer_lifetime_value'].str.replace('%', '').replace('NaN', '')

# Step 2: Convert the cleaned values to float
# raw_data['customer_lifetime_value'] = pd.to_numeric(raw_data['customer_lifetime_value'], errors='coerce')

# Step 3: Devide by 100


raw_data.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6979.5359,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.4317,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7645.8618,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5363.0765,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [190]:
raw_data.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [199]:
# Check records where customer_lifetime_value is Nan
raw_data[raw_data['customer_lifetime_value'].isna()]

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
78,SP81997,Washington,F,Master,NaN,41275.0,96.0,1/0/00,Personal Auto,Four-Door Car,41.122303
988,GT62080,Washington,M,High School or Below,NaN,55561.0,63.0,1/0/00,Personal Auto,Four-Door Car,227.872071

In [204]:
# Remove rows with missing values:
raw_data.dropna(subset=['customer_lifetime_value'], inplace=True)

# Confirm records where customer_lifetime_value is Nan were removed
raw_data[raw_data['customer_lifetime_value'].isna()].shape

(0, 11)

In [205]:
raw_data['customer_lifetime_value'].describe()

count     1068.000000
mean      7936.902593
std       6434.784103
min       2004.350700
25%       4034.079950
50%       5881.742350
75%       8962.871975
max      58166.553500
Name: customer_lifetime_value, dtype: float64

### Number of open complaints

In [206]:
raw_data['number_of_open_complaints'].value_counts(dropna=False)

1/0/00    827
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: number_of_open_complaints, dtype: int64

In [207]:
raw_data[['number_of_open_complaints','total_claim_amount']]

     number_of_open_complaints  total_claim_amount
1                       1/0/00         1131.464935
2                       1/0/00          566.472247
3                       1/0/00          529.881344
4                       1/0/00           17.269323
5                       1/0/00          159.383042
...                        ...                 ...
1066                    1/1/00          361.455219
1067                    1/2/00          207.320041
1068                    1/0/00          633.600000
1069                    1/0/00          547.200000
1070                    1/0/00          537.600000

[1068 rows x 2 columns]

In [208]:
# Assuming that the number of open complains is the second number in X/X/XX format

def clean_number_of_open_complaints(number_of_open_complaints):
    return int(number_of_open_complaints.split('/')[1])

# Replace the values in the 'number_of_open_complaints' column with their middle values
raw_data['number_of_open_complaints'] = raw_data['number_of_open_complaints'].apply(clean_number_of_open_complaints)

In [209]:
raw_data.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1,QZ44356,Arizona,F,Bachelor,6979.5359,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.4317,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7645.8618,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5363.0765,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,8256.2978,62902.0,69.0,0,Personal Auto,Two-Door Car,159.383042

In [210]:
# Describe
raw_data['number_of_open_complaints'].describe()

count    1068.000000
mean        0.395131
std         0.884764
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         5.000000
Name: number_of_open_complaints, dtype: float64

### Customer

In [211]:
# Find duplilcate customers by customer identifier
duplicate_customers = raw_data[raw_data.duplicated(subset='customer', keep=False)].drop_duplicates(subset='customer')
duplicate_customers.shape

# There are no duplicate customers

(0, 11)

### State

In [212]:
# Find unique state value counts
raw_data['state'].value_counts(dropna=False)

Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     78
WA             30
AZ             25
Name: state, dtype: int64

In [213]:
# Mapping dictionary to fix state values
state_mapping = {
    'Oregon': 'OR',
    'California': 'CA',
    'Arizona': 'AZ',
    'Cali': 'CA',
    'Nevada': 'NV',
    'Washington': 'WA',
    'WA': 'WA',
    'AZ': 'AZ'
}

# Replace inconsistent state values with their correct counterparts
raw_data['state'] = raw_data['state'].replace(state_mapping)

# Find unique state value counts
raw_data['state'].value_counts(dropna=False)

CA    331
OR    320
AZ    211
WA    108
NV     98
Name: state, dtype: int64

### Gender

In [214]:
# Find unique gender value counts
raw_data['gender'].value_counts(dropna=False)

F         456
M         412
NaN       116
Male       39
female     28
Femal      17
Name: gender, dtype: int64

In [215]:
# Mapping dictionary to fix gender values
gender_mapping = {
    'F': 'Female',
    'M': 'Male',
    'Male': 'Male',
    'female': 'Female',
    'Femal': 'Female'
}

# Replace inconsistent gender values with their correct counterparts
raw_data['gender'] = raw_data['gender'].replace(gender_mapping)

# Verify the unique gender values after fixing
raw_data['gender'].value_counts(dropna=False)

Female    501
Male      451
NaN       116
Name: gender, dtype: int64

In [216]:
# Determine which genders are present in the data
available_genders = raw_data['gender'].dropna().unique()

import random

# Fill missing values in the "gender" column with a random selection
raw_data['gender'] = raw_data['gender'].apply(lambda x: random.choice(available_genders) if pd.isna(x) else x)

# Verify the unique gender values after fixing
raw_data['gender'].value_counts(dropna=False)

Female    559
Male      509
Name: gender, dtype: int64

In [217]:
raw_data.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1,QZ44356,AZ,Female,Bachelor,6979.5359,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,NV,Female,Bachelor,12887.4317,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,CA,Male,Bachelor,7645.8618,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,WA,Male,High School or Below,5363.0765,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
5,OC83172,OR,Female,Bachelor,8256.2978,62902.0,69.0,0,Personal Auto,Two-Door Car,159.383042

### Education

In [218]:
# Find unique education value counts
raw_data['education'].value_counts(dropna=False)

Bachelor                324
College                 313
High School or Below    295
Master                   92
Doctor                   37
Bachelors                 7
Name: education, dtype: int64

In [219]:
# Replace "Bachelors" with "Bachelor" in the "education" column
raw_data['education'] = raw_data['education'].replace('Bachelors', 'Bachelor')

# Verify the unique education values after fixing
raw_data['education'].value_counts(dropna=False)

Bachelor                331
College                 313
High School or Below    295
Master                   92
Doctor                   37
Name: education, dtype: int64

### Policy type

In [220]:
# Find unique policy_type value counts
raw_data['policy_type'].value_counts(dropna=False)

Personal Auto     777
Corporate Auto    234
Special Auto       57
Name: policy_type, dtype: int64

In [221]:
# Policy type is clean

### Vehicle Class

In [222]:
# Find unique vehicle_class value counts
raw_data['vehicle_class'].value_counts(dropna=False)

Four-Door Car    573
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: vehicle_class, dtype: int64

In [223]:
# vehicle_class is also clean

### Income

In [225]:
raw_data['income'].describe()

count     1068.000000
mean     39315.411985
std      30484.373979
min          0.000000
25%      14072.000000
50%      36226.000000
75%      64668.750000
max      99960.000000
Name: income, dtype: float64

In [226]:
# Check for missing values
raw_data["income"].isna().sum()

0

In [227]:
# Check for 0 values
(raw_data["income"]==0).sum()

251

In [231]:
raw_data[(raw_data["income"]==0) & (raw_data["policy_type"]=='Corporate Auto')].shape

(55, 11)

In [232]:
raw_data[(raw_data["income"]==0) & (raw_data["policy_type"]=='Personal Auto')].shape

(188, 11)

In [234]:
# Considering that you cannot have a corporate auto without having an income we can fill in missing income data 
# for corporate auto policy holders

# Imputation - Replace missing values with the mean of the non-missing values

# Calculate the mean income for rows with 'Policy Type' as 'Corporate Auto'
mean_income_corporate_auto = raw_data[raw_data['policy_type'] == 'Corporate Auto']['income'].mean()

# Use a lambda function with the apply method to set income to the mean for relevant rows
raw_data['income'] = raw_data.apply(lambda row: mean_income_corporate_auto if ((row['policy_type'] == 'Corporate Auto')&(row["income"]==0)) else row['income'], axis=1)

raw_data.head(10)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1,QZ44356,AZ,Female,Bachelor,6979.5359,0.000000,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,NV,Female,Bachelor,12887.4317,48767.000000,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,CA,Male,Bachelor,7645.8618,41390.311966,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,WA,Male,High School or Below,5363.0765,36357.000000,68.0,0,Personal Auto,Four-Door Car,17.269323
5,OC83172,OR,Female,Bachelor,8256.2978,62902.000000,69.0,0,Personal Auto,Two-Door Car,159.383042
6,XZ87318,OR,Female,College,5380.8986,55350.000000,67.0,0,Corporate Auto,Four-Door Car,321.600000
7,CF85061,AZ,Male,Master,7216.1003,41390.311966,101.0,0,Corporate Auto,Four-Door Car,363.029680
8,DY87989,OR,Male,Bachelor,24127.5040,14072.000000,71.0,0,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,OR,Female,College,7388.1781,28812.000000,93.0,0,Special Auto,Four-Door Car,425.527834
10,SX51350,CA,Male,College,4738.9920,0.000000,67.0,0,Personal Auto,Four-Door Car,482.400000

In [235]:
raw_data[(raw_data["income"]==0) & (raw_data["policy_type"]=='Corporate Auto')].shape

(0, 11)

In [236]:
raw_data[(raw_data["income"]==0) & (raw_data["policy_type"]=='Personal Auto')].shape

(188, 11)

In [257]:
raw_data[(raw_data["income"]==0) & (raw_data["policy_type"]=='Special Auto')].shape

(8, 11)

### Monthly Premium Auto

In [237]:
raw_data['monthly_premium_auto'].describe()

count     1068.000000
mean       192.691948
std       1603.241719
min         61.000000
25%         68.000000
50%         82.500000
75%        109.250000
max      35354.000000
Name: monthly_premium_auto, dtype: float64

In [238]:
# Check for missing values
raw_data["monthly_premium_auto"].isna().sum()

0

In [239]:
# Check for 0 values
(raw_data["monthly_premium_auto"]==0).sum()

0

In [241]:
raw_data["monthly_premium_auto"].value_counts()

65.0     47
63.0     38
73.0     37
67.0     37
71.0     37
         ..
177.0     1
181.0     1
276.0     1
253.0     1
199.0     1
Name: monthly_premium_auto, Length: 131, dtype: int64

### Total claim amount

In [242]:
raw_data['total_claim_amount'].describe()

count    1068.000000
mean      405.870113
std       292.917158
min         0.382107
25%       204.071460
50%       355.200000
75%       532.800000
max      2893.239678
Name: total_claim_amount, dtype: float64

In [243]:
# Check for missing values
raw_data["total_claim_amount"].isna().sum()

0

In [244]:
# Check for 0 values
(raw_data["total_claim_amount"]==0).sum()

0

## Save data

In [246]:
customer_data = raw_data

# Specify the file path and name for the CSV file
output_file_path = 'customer_data.csv'

# Write the cleaned data to a CSV file
customer_data.to_csv(output_file_path, index=False)

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [247]:
customer_data = pd.read_csv('customer_data.csv')
customer_data.shape

(1068, 11)

In [250]:
customer_locations = customer_data['state'].value_counts().sort_values()
customer_locations.head(5)

NV     98
WA    108
AZ    211
OR    320
CA    331
Name: state, dtype: int64

### Exercise 2

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [253]:
# Calculate the 75th percentile of the "Total Claim Amount" column
claim_amount_75th_percentile = customer_data["total_claim_amount"].quantile(0.75)
claim_amount_75th_percentile

532.8

In [254]:
# Filter the DataFrame to include only customers with a high policy claim amount
high_claim_amount_customers = customer_data[customer_data["total_claim_amount"] > claim_amount_75th_percentile]

high_claim_amount_customers

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,QZ44356,AZ,Female,Bachelor,6979.5359,0.000000,94.0,0,Personal Auto,Four-Door Car,1131.464935
1,AI49188,NV,Female,Bachelor,12887.4317,48767.000000,108.0,0,Personal Auto,Two-Door Car,566.472247
16,OE15005,CA,Male,College,3945.2416,28855.000000,101.0,0,Personal Auto,SUV,647.442031
22,TZ98966,NV,Female,Bachelor,2450.1910,41390.311966,73.0,3,Corporate Auto,Four-Door Car,554.376763
25,US89481,CA,Female,Bachelor,3946.3721,0.000000,111.0,0,Personal Auto,Four-Door Car,799.200000
...,...,...,...,...,...,...,...,...,...,...,...
1056,YG44474,OR,Male,College,14014.7213,54193.000000,117.0,0,Corporate Auto,SUV,720.752945
1058,RY92647,CA,Female,Bachelor,10506.7717,0.000000,92.0,0,Personal Auto,Four-Door Car,546.524896
1065,GS98873,AZ,Female,Bachelor,3239.1247,16061.000000,88.0,0,Personal Auto,Four-Door Car,633.600000
1066,CW49887,CA,Female,Master,4626.8011,79487.000000,114.0,0,Special Auto,SUV,547.200000
1067,MY31220,CA,Female,College,8997.0402,54230.000000,112.0,0,Personal Auto,Two-Door Car,537.600000

In [255]:
# Calculate summary statistics about the high policy claim amount data
summary_statistics = high_claim_amount_customers["total_claim_amount"].describe()

summary_statistics

count     264.000000
mean      782.228263
std       292.751640
min       537.600000
25%       606.521741
50%       679.597985
75%       851.400000
max      2893.239678
Name: total_claim_amount, dtype: float64

### Exercise 3

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [256]:
# Create a pandas Series object containing the policy types and their total number of policies sold
policy_type_counts = customer_data["policy_type"].value_counts()
policy_type_counts

Personal Auto     777
Corporate Auto    234
Special Auto       57
Name: policy_type, dtype: int64

In [262]:
# Retrieve the policy type with the highest number of policies sold
policy_type_with_highest_count = policy_type_counts.idxmax()

print("Policy type with the highest number of policies sold: ", policy_type_with_highest_count)

Policy type with the highest number of policies sold:  Personal Auto

### Exercise 4

The sales team wants to know if customers with Personal Auto have a income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [267]:
# Only Personal Auto policies
personal_auto_customers = customer_data.loc[customer_data["policy_type"] == "Personal Auto"]

# Only Corporate Auto policies
corporate_auto_customers = customer_data.loc[customer_data["policy_type"] == "Corporate Auto"]

# Calculate the average income for each policy type
average_income_personal_auto = round(personal_auto_customers["income"].mean(),2)
average_income_corporate_auto = round(corporate_auto_customers["income"].mean(),2)

print("Average income for customers with Personal Auto policies:", average_income_personal_auto)
print("Average income for customers with Corporate Auto policies:", average_income_corporate_auto)

Average income for customers with Personal Auto policies: 38203.49
Average income for customers with Corporate Auto policies: 51118.8